In [1]:
### pandas 설치와 import
!pip install pandas

Collecting pandas
  Downloading pandas-1.2.4-cp39-cp39-win_amd64.whl (9.3 MB)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pandas
Successfully installed pandas-1.2.4

- 데이타 분석 3대 모듈
numpy : 수치데이타 핸들링
pandas : 
matplotlib :

In [2]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1,2,3,4,5]) # series type : index와 value로 구성
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
s = pd.Series([1, 9, -3, 4], index=['a', 'b', 'c', 'd']) # dictionary와 호환될 수 있다.
print(s)

a    1
b    9
c   -3
d    4
dtype: int64

In [6]:
dic = {'A':3000, 'B':6000, 'C':2000, 'D':4000}
s = pd.Series(dic)
print(s)

A    3000
B    6000
C    2000
D    4000
dtype: int64

#### DataFrame
- 이차원의 행렬구조를 나타냄.

In [10]:
df = pd.DataFrame(
    {
        'A' : 1.,                   # 동일 데이타는 하나만 입력
        'B' : '2021-05-10',
        'C' : [1,2,3,4],
        'D' : (5,6,7,8),
        'E' : 0.,
        'F' : 'Web'
    }
)

print(df)

     A           B  C  D    E    F
0  1.0  2021-05-10  1  5  0.0  Web
1  1.0  2021-05-10  2  6  0.0  Web
2  1.0  2021-05-10  3  7  0.0  Web
3  1.0  2021-05-10  4  8  0.0  Web

In [11]:
data = {'name':['A', 'B', 'C', 'D', 'E'],
       'year':[2017, 2018, 2019, 2020, 2021],
       'points':[3.5, 4.2, 2.6, 7.4, 1.9]}
df = pd.DataFrame(data)
print(df)

  name  year  points
0    A  2017     3.5
1    B  2018     4.2
2    C  2019     2.6
3    D  2020     7.4
4    E  2021     1.9

In [12]:
print(df[['year']])

   year
0  2017
1  2018
2  2019
3  2020
4  2021

In [13]:
print(df[['year', 'points']])

   year  points
0  2017     3.5
1  2018     4.2
2  2019     2.6
3  2020     7.4
4  2021     1.9

In [14]:
df['new'] = [1,2,3,4,5]
print(df)

  name  year  points  new
0    A  2017     3.5    1
1    B  2018     4.2    2
2    C  2019     2.6    3
3    D  2020     7.4    4
4    E  2021     1.9    5

In [15]:
df['past'] = df['year'] < 2020
print(df)

  name  year  points  new   past
0    A  2017     3.5    1   True
1    B  2018     4.2    2   True
2    C  2019     2.6    3   True
3    D  2020     7.4    4  False
4    E  2021     1.9    5  False

In [16]:
del df['past']
print(df)

  name  year  points  new
0    A  2017     3.5    1
1    B  2018     4.2    2
2    C  2019     2.6    3
3    D  2020     7.4    4
4    E  2021     1.9    5

In [17]:
data = {'name':['A', 'B', 'C', 'D', 'E'],
       'year':[2017, 2018, 2019, 2020, 2021],
       'points':[3.5, 4.2, 2.6, 7.4, 1.9]}
df = pd.DataFrame(data)
print(df)

  name  year  points
0    A  2017     3.5
1    B  2018     4.2
2    C  2019     2.6
3    D  2020     7.4
4    E  2021     1.9

In [18]:
df.loc[5, :] = ['F', 2022, 4.0]            # 새로운 행 추가 loc[행, 열개수]
print(df)

  name    year  points
0    A  2017.0     3.5
1    B  2018.0     4.2
2    C  2019.0     2.6
3    D  2020.0     7.4
4    E  2021.0     1.9
5    F  2022.0     4.0

In [19]:
print(df[0:3])

  name    year  points
0    A  2017.0     3.5
1    B  2018.0     4.2
2    C  2019.0     2.6

In [20]:
print(df.loc[1:3, 'name'])

1    B
2    C
3    D
Name: name, dtype: object

In [21]:
print(df.sum(axis=1))
print(df.sum(axis=0))

0    2020.5
1    2022.2
2    2021.6
3    2027.4
4    2022.9
5    2026.0
dtype: float64
name       ABCDEF
year      12117.0
points       23.6
dtype: object

통계청 통계교육원 : https://sti.kostat.go.kr/coresti/site/main.do

### 파이썬 엑셀 라이브러리

In [24]:
print(df.sum(axis=1))   # 각 행의 합

0    2020.5
1    2022.2
2    2021.6
3    2027.4
4    2022.9
5    2026.0
dtype: float64

In [25]:
print(df.sum(axis=0))

name       ABCDEF
year      12117.0
points       23.6
dtype: object